html{
    font-family: 'Roboto', sans-serif;
    background: rgb(54, 54, 54);
    color: aquamarine;
}
header{
    border: 1px solid #7FFFD4FF;
}
.contenedor-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-main{
    width: 80%;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid #7FFFD4FF;
    box-shadow: 5px 5px 10px white;
    overflow: hidden;
}
.buscador{
    margin-bottom: 1rem;
}
footer{
    border: 1px solid #7FFFD4FF;
}
.contenedor-footer{
    text-align: center;
    overflow: hidden;
}