body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(45, 45, 45);
    color: aquamarine;
}
header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #333;
}
p{
    text-align: right;
}
main{
    width: 100%;
    height: 70vh;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-main{
    /*text-align: center;*/
    /*overflow: hidden;*/
    text-align: center;
    margin: 20px;
}
.contenedor-buscador{
    width: 80%;
}
.buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
img {
    max-width: 16%;
    height: auto;
    padding: 0;
    margin: 0;
}
h1{
    font-size: 2rem;
}
input[type="text"]{
    width: 36rem;
    height: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    display: block;
}
button{
    width: 12.5rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 1.5rem;
    padding: 10px 20px;
    border: none;
}
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 1rem;
    background-color: #333;
}
.contenedor-footer{
    width: 100%;
    text-align: center;
    display: block;
}
i{
    text-align: center;
    color: aquamarine;
    font-size: 2rem;
}
@media screen and (max-width: 300px) {
    h1 {
        font-size: 1rem;
    }
    img{
        max-width: 16%;
        height: auto;
        padding: 0;
        margin: 0;
    }
}